<ol class="breadcrumb">
    <li>{{translate 'Overview'}}</li>
</ol>
{{#unless disableGraph}}
    {{#unless disableMainGraph}}
        {{#if modules}}
            <div class="text-center module-graph-container">
                <div id="module-graph-svg">
                    {{{ mainGraph }}}
                </div>
                <i id="fullscreen" class="fa fa-expand module-graph-fullscreen-btn" aria-hidden="true"></i>
                <div class="btn-group">
                    <button id="zoom-in" class="btn btn-default btn-sm">{{translate 'Zoom-in'}}</button>
                    <button id="reset" class="btn btn-default btn-sm">{{translate 'Reset'}}</button>
                    <button id="zoom-out" class="btn btn-default btn-sm">{{translate 'Zoom out'}}</button>
                </div>
            </div>
        {{/if}}
    {{/unless}}
{{/unless}}
<div class="container-fluid overview">
    <div class="row">
        {{#if modules}}
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-block">
                        <h4 class="card-title"><span class="fa fa-archive"></span></h4>
                        <p class="card-text">
                            <a href="./modules.html">{{ modules.length }} {{translate 'module'}}{{#compare modules.length ">" 1}}s{{/compare}}</a>
                        </p>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if components}}
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-block">
                        <h4 class="card-title"><span class="fa fa-cogs"></span></h4>
                        <p class="card-text">{{ components.length }} {{translate 'component'}}{{#compare components.length ">" 1}}s{{/compare}}</p>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if directives}}
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-block">
                        <h4 class="card-title"><span class="fa fa-code"></span></h4>
                        <p class="card-text">{{ directives.length }} {{translate 'directive'}}{{#compare directives.length ">" 1}}s{{/compare}}</p>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if injectables}}
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-block">
                        <h4 class="card-title"><span class="fa fa-code-fork"></span></h4>
                        <p class="card-text">{{ injectables.length }} {{translate 'injectable'}}{{#compare injectables.length ">" 1}}s{{/compare}}</p>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if pipes}}
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-block">
                        <h4 class="card-title"><span class="fa fa-plus"></span></h4>
                        <p class="card-text">{{ pipes.length }} {{translate 'pipe'}}{{#compare pipes.length ">" 1}}s{{/compare}}</p>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if classes}}
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-block">
                        <h4 class="card-title"><span class="fa fa-file-code-o"></span></h4>
                        <p class="card-text">{{ classes.length }} {{translate 'class'}}{{#compare classes.length ">" 1}}es{{/compare}}</p>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if interfaces}}
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-block">
                        <h4 class="card-title"><span class="fa fa-info"></span></h4>
                        <p class="card-text">{{ interfaces.length }} {{translate 'interface'}}{{#compare interfaces.length ">" 1}}s{{/compare}}</p>
                    </div>
                </div>
            </div>
        {{/if}}
        {{#if routes}}
            <div class="col-sm-3">
                <div class="card text-center">
                    <div class="card-block">
                        <h4 class="card-title"><span class="fa fa-code-fork"></span></h4>
                        <p class="card-text">
                            <a href="./routes.html">{{ routesLength }} {{translate 'routes'}}</a>
                        </p>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>
{{#unless disableGraph}}
<script src="js/libs/svg-pan-zoom.min.js"></script>
<script src="js/svg-pan-zoom.controls.js"></script>
{{/unless}}
